.content-title h5 {
  color: grey;
  margin-top: 30px;
  margin-bottom: 15px;
}
.card-topic {
  margin-bottom: 30px;
  margin-top: 15px;
}
.col-sm-3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.topic {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  color: rgb(71, 71, 71);
}

.card {
  width: 210px !important;
  height: 90px !important;
  text-align: center !important;
}
.card:hover {
  box-shadow: 0 18px 16px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 1500px) {
  .card {
    width: 100% !important;
  }
}
