.header2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  align-items: flex-start;
  background: #f7f8fa;
  border-bottom: 1px solid #dedfe0;
  height: 48px;
  padding: 0;
  padding-top: 10px;
}

@media (max-width: 980px) {
  .header2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    align-items: flex-start;
    background: #f7f8fa;
    border-bottom: 1px solid #dedfe0;
    height: 80px;
    padding: 0;
    padding-top: 10px;
  }
}

* {
  box-sizing: border-box;
}

a {
  margin-right: 10px;
}

a:hover {
  background-color: #e8e9eb;
}
